:root {
    --text-color: #111517;
    --body-bg-fon: #202C36;
    --color-dark-mode: #fff;
    --wrapper-bg: #2b3844;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    font-family: "Nunito Sans", sans-serif;
    transition: 0.3s ease;
}

img {
    max-width: 100%;
    height: auto;
}

*:focus {
    outline: 3px dashed #2959CE;
    outline-offset: 3px;
}

.container {
    width: 100%;
    max-width: 1280px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
}

.dark-mode {
    --text-color: #fff;
    background-color: #202C36;
    --accent-color: #fff;
    --site-header-bg: #2b3844;
}

/* SITE-HEADER */
.site-header {
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
    background-color: var(--site-header-bg);
}

.site-header-wrapper {
    display: flex;
    align-items: center;
}

.site-header-wrapper-div {
    color: var(--text-color);
    margin-right: auto;
}

.site-header-link {
    text-decoration: none;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    transition: 0.2s ease;
    color: var(--text-color);
}

.site-header-link:hover {
    opacity: 0.8;
}

.site-header-link:active {
    opacity: 0.8;
}

.site-header-button {
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.site-header-span {
    display: flex;
    align-items: center;
}

.site-header-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    color: var(--accent-color);
}

.site-header-button-text {
    color: #111517;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--accent-color);
}

/* MAIN */
.main-content {
    padding-top: 48px;
    padding-bottom: 48px;
}

.countries-search {
    padding: 19px 270px 19px 74px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
    background-color: var(--site-header-bg);
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 32px center;
    color: var(--accent-color);
    margin-right: auto;
}

.search {
    display: flex;
    margin-right: auto;
}

.search-select {
    width: 200px;
    padding: 18px 24px;
    border-radius: 5px;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
    border: 0;
    background-color: var(--site-header-bg);
    color: var(--accent-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
}